.pagination__container{
    display: flex;
    flex-direction: column;
    align-items:stretch ;
    margin-bottom: 30px;
    gap: 10px;

}

.pagination__container .button-set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px
}

.pagination__container .button-set button{
    padding: 5px;
}

.button-set {
    align-items: center;
}

.pagination__container svg{
    height: 20px;
    width: 20px;
}