.wish-card__container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    line-height: 40px;
}

.wish-card__container:hover{
    background-color: rgb(194, 194, 194);
}

.wish-list__container li:nth-child(even){
    background-color: rgb(235, 235, 235);
}

.wish-card__button{
    padding: 0;
    background: none;
    width:200px;
}

.wish-card__title{
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}