.book-card__container{
    display: flex;
    margin: 10px 0;
    padding: 20px;
    border: 1px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;

}

.book-card__container p{
    margin:0px;
    margin-bottom:10px;
    font-weight: bold;
}

.book-card__container span{
    font-weight: normal;
}

.book-card__container:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.book-card__info{
    margin-left: 20px;
    overflow:auto;
    display: block;
    height: 210px;
}

img{
    object-fit: cover;
    width:150px;
    height:210px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }