.navbar__container {
    display:flex;
    padding: 30px;
    background-color: rgb(175, 215, 255);
    margin-bottom: 20px;
}

.navbar__link{
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size:25px;
}

.navbar__link:hover{
    text-decoration: underline;
}