.search__container{
    margin: 20px 10px;
}

.search__input{
    margin-left: 20px;
    font-size: 20px;
}

.search_loading{
    margin-left: 20px;
}

.search-wish__container{
    display:flex;
    flex-direction:row;
    gap: 20px;
}

.search-wish-list__container{
    width:50%;
}

.search-result__container{
    width:50%;
}