

  .no-suggestions {
    color: #999;
    padding: 0.5rem;
    position: absolute;
    z-index: 999;
    width: 396px;
    background-color: white;
    border: 1px solid #999;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    width: 412px;
    background-color: white;
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #0058ca;
    color: white;
    cursor: pointer;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }